/* Custom CSS */

body {
    background: linear-gradient(to right, #212529, #1d92ec);
    /*gradient background */
}

.gradient-custom {
    color: #fff;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.card {
    background-color: rgba(228, 225, 225, 0.459);
    /* Transparent background */
    border: none;
}

.card-body {
    padding: 4rem !important;
    /* Increase padding */
}

.form-label {
    color: #fff;
    /* Label text color */
}

.form-control {
    background-color: rgba(204, 193, 193, 0.2);
    /* Transparent background */
    border-color: rgba(255, 255, 255, 0.4);
    /* Semi-transparent border */
    color: #fff;
    /* Text color */
}



/* Prevent background color change for selection fields */
.form-select {
    background-color: rgba(255, 255, 255, 0.2);
    /* Transparent background on focus */
    border-color: rgba(255, 255, 255, 0.4);
    /* Semi-transparent border on focus */

}

/* Prevent background color change for file upload inputs */
.form-control-file {
    background-color: rgba(255, 255, 255, 0.2);
    /* Transparent background on focus */
    border-color: rgba(255, 255, 255, 0.4);
    /* Semi-transparent border on focus */

}

#eyeIcon {
    color: #212529;
}


.btn-primary {

    background-color: #0056b3;
    /* Primary button color */
    border-color: #007bff;
    /* Button border color */
}

.btn-primary:hover {
    background-color: #0397c4;
    /* Darker blue on hover */
    border-color: #0056b3;
    /* Darker blue border on hover */
}